{% extends 'ag_menu.html.twig' %}

{% block menu %}

<li class="treeview {% if option is defined and (option == 'installation_list' or option == 'installation_create' or option == 'installation_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>installation</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'installation_list' %}class="active"{% endif %}><a href="{{ path('installation_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'installation_create' %}class="active"{% endif %}><a href="{{ path('installation_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'knowledge_list' or option == 'knowledge_create' or option == 'knowledge_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>knowledge</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'knowledge_list' %}class="active"{% endif %}><a href="{{ path('knowledge_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'knowledge_create' %}class="active"{% endif %}><a href="{{ path('knowledge_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'language_list' or option == 'language_create' or option == 'language_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>language</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'language_list' %}class="active"{% endif %}><a href="{{ path('language_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'language_create' %}class="active"{% endif %}><a href="{{ path('language_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'question_list' or option == 'question_create' or option == 'question_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>question</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'question_list' %}class="active"{% endif %}><a href="{{ path('question_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'question_create' %}class="active"{% endif %}><a href="{{ path('question_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'quizz_list' or option == 'quizz_create' or option == 'quizz_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>quizz</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'quizz_list' %}class="active"{% endif %}><a href="{{ path('quizz_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'quizz_create' %}class="active"{% endif %}><a href="{{ path('quizz_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>

<li class="treeview {% if option is defined and (option == 'score_list' or option == 'score_create' or option == 'score_edit') %}active{% endif %}">
    <a href="#">
        <i class="fa fa-folder-o"></i>
        <span>score</span>
        <i class="fa pull-right fa-angle-right"></i>
    </a>
    <ul class="treeview-menu" style="display: none;">
        <li {% if option is defined and option == 'score_list' %}class="active"{% endif %}><a href="{{ path('score_list') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> List</a></li>
        <li {% if option is defined and option == 'score_create' %}class="active"{% endif %}><a href="{{ path('score_create') }}" style="margin-left: 10px;"><i class="fa fa-angle-double-right"></i> Create</a></li>
    </ul>
</li>



{% endblock %}